CONFIG VCCAUX=3.3;

CONFIG MCB_PERFORMANCE= EXTENDED;

# Global clock input
NET "CLK_IN"        IOSTANDARD = LVCMOS25;
NET "CLK_IN"        LOC = "E8";

NET "CLK_IN"        TNM_NET = "CLK33";
TIMESPEC "TS_CLK33" = PERIOD "CLK33" 30 ns HIGH 50 %;


##################################################################################
# Timing Ignore constraints for paths crossing the clock domain 
##################################################################################
NET "memif/s6_ddr3/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/selfrefresh_mcb_mode" TIG;
NET "memif/s6_ddr3/c3_pll_lock" TIG;
INST "memif/s6_ddr3/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/DONE_SOFTANDHARD_CAL*" TIG;

############################################################################
## Memory Controller 3                               
## Memory Device: DDR3_SDRAM->MT41J64M16XX-187E 
## Frequency: 333.333 MHz
## Time Period: 3000 ps
## Supported Part Numbers: MT41J64M16LA-187E
############################################################################

############################################################################
## Clock constraints                                                        
############################################################################
#NET "memif/s6_ddr3/memc3_infrastructure_inst/sys_clk" TNM_NET = "SYS_CLK3";
#TIMESPEC "TS_SYS_CLK3" = PERIOD "SYS_CLK3"  30 ns HIGH 50 %;
############################################################################

# DDR memory signals
NET "DDR_DQ[*]"     IOSTANDARD = SSTL15_II;
NET "DDR_DQ[*]"     IN_TERM = UNTUNED_SPLIT_50;
NET "DDR_DQ[*]"     OUT_TERM = UNTUNED_50;
NET "DDR_DQ[0]"     LOC = "K2";
NET "DDR_DQ[1]"     LOC = "K1";
NET "DDR_DQ[2]"     LOC = "J3";
NET "DDR_DQ[3]"     LOC = "J1";
NET "DDR_DQ[4]"     LOC = "F2";
NET "DDR_DQ[5]"     LOC = "F1";
NET "DDR_DQ[6]"     LOC = "G3";
NET "DDR_DQ[7]"     LOC = "G1";
NET "DDR_DQ[8]"     LOC = "L3";
NET "DDR_DQ[9]"     LOC = "L1";
NET "DDR_DQ[10]"    LOC = "M2";
NET "DDR_DQ[11]"    LOC = "M1";
NET "DDR_DQ[12]"    LOC = "P2";
NET "DDR_DQ[13]"    LOC = "P1";
NET "DDR_DQ[14]"    LOC = "R2";
NET "DDR_DQ[15]"    LOC = "R1";
NET "DDR_A[*]"      IOSTANDARD = SSTL15_II;
NET "DDR_A[*]"      OUT_TERM = UNTUNED_50;
NET "DDR_A[0]"      LOC = "K5";
NET "DDR_A[1]"      LOC = "K6";
NET "DDR_A[2]"      LOC = "D1";
NET "DDR_A[3]"      LOC = "L4";
NET "DDR_A[4]"      LOC = "G5";
NET "DDR_A[5]"      LOC = "H4";
NET "DDR_A[6]"      LOC = "H3";
NET "DDR_A[7]"      LOC = "D3";
NET "DDR_A[8]"      LOC = "B2";
NET "DDR_A[9]"      LOC = "A2";
NET "DDR_A[10]"     LOC = "G6";
NET "DDR_A[11]"     LOC = "E3";
NET "DDR_A[12]"     LOC = "F3";
NET "DDR_BA[*]"     IOSTANDARD = SSTL15_II;
NET "DDR_BA[*]"     OUT_TERM = UNTUNED_50;
NET "DDR_BA[0]"     LOC = "C3";
NET "DDR_BA[1]"     LOC = "C2";
NET "DDR_BA[2]"     LOC = "B1";
NET "DDR_RAS_N"     IOSTANDARD = SSTL15_II;
NET "DDR_RAS_N"     OUT_TERM = UNTUNED_50;
NET "DDR_RAS_N"     LOC = "J6";
NET "DDR_CAS_N"     IOSTANDARD = SSTL15_II;
NET "DDR_CAS_N"     OUT_TERM = UNTUNED_50;
NET "DDR_CAS_N"     LOC = "H5";
NET "DDR_WE_N"      IOSTANDARD = SSTL15_II;
NET "DDR_WE_N"      OUT_TERM = UNTUNED_50;
NET "DDR_WE_N"      LOC = "C1";
NET "DDR_ODT"       IOSTANDARD = SSTL15_II;
NET "DDR_ODT"       OUT_TERM = UNTUNED_50;
NET "DDR_ODT"       LOC = "L5";
NET "DDR_RESET_N"   IOSTANDARD = LVCMOS15;
NET "DDR_RESET_N"   LOC = "E4";
NET "DDR_CKE"       IOSTANDARD = SSTL15_II;
NET "DDR_CKE"       OUT_TERM = UNTUNED_50;
NET "DDR_CKE"       LOC = "F4";
NET "DDR_LDM"       IOSTANDARD = SSTL15_II;
NET "DDR_LDM"       OUT_TERM = UNTUNED_50;
NET "DDR_LDM"       LOC = "J4";
NET "DDR_UDM"       IOSTANDARD = SSTL15_II;
NET "DDR_UDM"       OUT_TERM = UNTUNED_50;
NET "DDR_UDM"       LOC = "K3";
NET "DDR_UDQS_P"    IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_UDQS_P"    IN_TERM = UNTUNED_SPLIT_50;
NET "DDR_UDQS_P"    OUT_TERM = UNTUNED_50;
NET "DDR_UDQS_P"    LOC = "N3";
NET "DDR_UDQS_N"    IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_UDQS_N"    IN_TERM = UNTUNED_SPLIT_50;
NET "DDR_UDQS_N"    OUT_TERM = UNTUNED_50;
NET "DDR_UDQS_N"    LOC = "N1";
NET "DDR_LDQS_P"    IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_LDQS_P"    IN_TERM = UNTUNED_SPLIT_50;
NET "DDR_LDQS_P"    OUT_TERM = UNTUNED_50;
NET "DDR_LDQS_P"    LOC = "H2";
NET "DDR_LDQS_N"    IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_LDQS_N"    IN_TERM = UNTUNED_SPLIT_50;
NET "DDR_LDQS_N"    OUT_TERM = UNTUNED_50;
NET "DDR_LDQS_N"    LOC = "H1";
NET "DDR_CK_P"      IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_CK_P"      OUT_TERM = UNTUNED_50;
NET "DDR_CK_P"      LOC = "E2";
NET "DDR_CK_N"      IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_CK_N"      OUT_TERM = UNTUNED_50;
NET "DDR_CK_N"      LOC = "E1";
NET "DDR_RZQ"       IOSTANDARD = SSTL15_II;
NET "DDR_RZQ"       OUT_TERM = UNTUNED_50;
NET "DDR_RZQ"       LOC = "M4";
NET "DDR_ZIO"       IOSTANDARD = SSTL15_II;
NET "DDR_ZIO"       OUT_TERM = UNTUNED_50;
NET "DDR_ZIO"       LOC = "M5";

# I2C signals
NET "I2C_SDA"       IOSTANDARD = LVCMOS33;
NET "I2C_SDA"       LOC = "T9";
NET "I2C_SCL"       IOSTANDARD = LVCMOS33;
NET "I2C_SCL"       LOC = "R9";

# EPD signals
NET "EPD_GDOE"      IOSTANDARD = LVCMOS33;
NET "EPD_GDOE"      LOC = "G16";
NET "EPD_GDCLK"     IOSTANDARD = LVCMOS33;
NET "EPD_GDCLK"     LOC = "H16";
NET "EPD_GDSP"      IOSTANDARD = LVCMOS33;
NET "EPD_GDSP"      LOC = "J16";
NET "EPD_SDCLK"     IOSTANDARD = LVCMOS33;
NET "EPD_SDCLK"     LOC = "N14";
NET "EPD_SDLE"      IOSTANDARD = LVCMOS33;
NET "EPD_SDLE"      LOC = "M14";
NET "EPD_SDOE"      IOSTANDARD = LVCMOS33;
NET "EPD_SDOE"      LOC = "R14";
NET "EPD_SD[*]"     IOSTANDARD = LVCMOS33;
NET "EPD_SD[0]"     LOC = "P16";
NET "EPD_SD[1]"     LOC = "P15";
NET "EPD_SD[2]"     LOC = "R16";
NET "EPD_SD[3]"     LOC = "R15";
NET "EPD_SD[4]"     LOC = "T15";
NET "EPD_SD[5]"     LOC = "T14";
NET "EPD_SD[6]"     LOC = "T13";
NET "EPD_SD[7]"     LOC = "R12";
NET "EPD_SD[8]"     LOC = "T12";
NET "EPD_SD[9]"     LOC = "K16";
NET "EPD_SD[10]"    LOC = "J14";
NET "EPD_SD[11]"    LOC = "K15";
NET "EPD_SD[12]"    LOC = "L16";
NET "EPD_SD[13]"    LOC = "M15";
NET "EPD_SD[14]"    LOC = "M16";
NET "EPD_SD[15]"    LOC = "N16";
NET "EPD_SDCE0"     IOSTANDARD = LVCMOS33;
NET "EPD_SDCE0"     LOC = "L14";

# LVDS
#NET "DSI_CK_P"      IOSTANDARD = LVDS_25;
#NET "DSI_CK_P"      DIFF_TERM = "TRUE";
NET "DSI_CK_P"      LOC = "B10";
#NET "DSI_CK_N"      IOSTANDARD = LVDS_25;
#NET "DSI_CK_N"      DIFF_TERM = "TRUE";
NET "DSI_CK_N"      LOC = "A10";
#NET "DSI_D_P[*]"    IOSTANDARD = LVDS_25;
#NET "DSI_D_P[*]"    DIFF_TERM = "TRUE";
NET "DSI_D_P[0]"    LOC = "B8";
NET "DSI_D_P[1]"    LOC = "C9";
NET "DSI_D_P[2]"    LOC = "D8";
NET "DSI_D_P[3]"    LOC = "D11";
#NET "DSI_D_N[*]"    IOSTANDARD = LVDS_25;
#NET "DSI_D_N[*]"    DIFF_TERM = "TRUE";
NET "DSI_D_N[0]"    LOC = "A8";
NET "DSI_D_N[1]"    LOC = "A9";
NET "DSI_D_N[2]"    LOC = "C8";
NET "DSI_D_N[3]"    LOC = "D12";