CONFIG VCCAUX=3.3;

CONFIG MCB_PERFORMANCE= EXTENDED;

# Global clock input
NET "CLK_IN"        IOSTANDARD = LVCMOS33;
NET "CLK_IN"        LOC = "N8";

NET "CLK_IN"        TNM_NET = "CLK33";
TIMESPEC "TS_CLK33" = PERIOD "CLK33" 30 ns HIGH 50 %;

NET "vin/vin_fpdlink/fpdlink_serdes_in/fpdlink_serdes_clkin/pclk_bufio" TNM_NET = LVDS_CLK;
TIMESPEC TS_LVDS_CLK = PERIOD "LVDS_CLK" 100 MHz HIGH 50%;

NET "vin/vin_dpi/dpi_pclk_buf" TNM_NET = DPI_CLK;
TIMESPEC TS_DPI_CLK = PERIOD "DPI_CLK" 162 MHz HIGH 50%;

#NET "mif_rst" TIG;

##################################################################################
# Timing Ignore constraints for paths crossing the clock domain 
##################################################################################
NET "mig_wrapper/s6_ddr3/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/selfrefresh_mcb_mode" TIG;
NET "mig_wrapper/s6_ddr3/c3_pll_lock" TIG;
INST "mig_wrapper/s6_ddr3/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/DONE_SOFTANDHARD_CAL*" TIG;

############################################################################
## Memory Controller 3                               
## Memory Device: DDR3_SDRAM->MT41J64M16XX-187E 
## Frequency: 333.333 MHz
## Time Period: 3000 ps
## Supported Part Numbers: MT41J64M16LA-187E
############################################################################

############################################################################
## Clock constraints                                                        
############################################################################
#NET "memif/s6_ddr3/memc3_infrastructure_inst/sys_clk" TNM_NET = "SYS_CLK3";
#TIMESPEC "TS_SYS_CLK3" = PERIOD "SYS_CLK3"  30 ns HIGH 50 %;
############################################################################

# DDR memory signals
NET "DDR_DQ[*]"     IOSTANDARD = SSTL15_II;
NET "DDR_DQ[*]"     IN_TERM = UNTUNED_SPLIT_50;
NET "DDR_DQ[*]"     OUT_TERM = UNTUNED_50;
NET "DDR_DQ[0]"     LOC = "K2";
NET "DDR_DQ[1]"     LOC = "K1";
NET "DDR_DQ[2]"     LOC = "J3";
NET "DDR_DQ[3]"     LOC = "J1";
NET "DDR_DQ[4]"     LOC = "F2";
NET "DDR_DQ[5]"     LOC = "F1";
NET "DDR_DQ[6]"     LOC = "G3";
NET "DDR_DQ[7]"     LOC = "G1";
NET "DDR_DQ[8]"     LOC = "L3";
NET "DDR_DQ[9]"     LOC = "L1";
NET "DDR_DQ[10]"    LOC = "M2";
NET "DDR_DQ[11]"    LOC = "M1";
NET "DDR_DQ[12]"    LOC = "P2";
NET "DDR_DQ[13]"    LOC = "P1";
NET "DDR_DQ[14]"    LOC = "R2";
NET "DDR_DQ[15]"    LOC = "R1";
NET "DDR_A[*]"      IOSTANDARD = SSTL15_II;
NET "DDR_A[*]"      OUT_TERM = UNTUNED_50;
NET "DDR_A[0]"      LOC = "K5";
NET "DDR_A[1]"      LOC = "K6";
NET "DDR_A[2]"      LOC = "D1";
NET "DDR_A[3]"      LOC = "L4";
NET "DDR_A[4]"      LOC = "G5";
NET "DDR_A[5]"      LOC = "H4";
NET "DDR_A[6]"      LOC = "H3";
NET "DDR_A[7]"      LOC = "D3";
NET "DDR_A[8]"      LOC = "B2";
NET "DDR_A[9]"      LOC = "A2";
NET "DDR_A[10]"     LOC = "G6";
NET "DDR_A[11]"     LOC = "E3";
NET "DDR_A[12]"     LOC = "F3";
NET "DDR_BA[*]"     IOSTANDARD = SSTL15_II;
NET "DDR_BA[*]"     OUT_TERM = UNTUNED_50;
NET "DDR_BA[0]"     LOC = "C3";
NET "DDR_BA[1]"     LOC = "C2";
NET "DDR_BA[2]"     LOC = "B1";
NET "DDR_RAS_N"     IOSTANDARD = SSTL15_II;
NET "DDR_RAS_N"     OUT_TERM = UNTUNED_50;
NET "DDR_RAS_N"     LOC = "J6";
NET "DDR_CAS_N"     IOSTANDARD = SSTL15_II;
NET "DDR_CAS_N"     OUT_TERM = UNTUNED_50;
NET "DDR_CAS_N"     LOC = "H5";
NET "DDR_WE_N"      IOSTANDARD = SSTL15_II;
NET "DDR_WE_N"      OUT_TERM = UNTUNED_50;
NET "DDR_WE_N"      LOC = "C1";
NET "DDR_ODT"       IOSTANDARD = SSTL15_II;
NET "DDR_ODT"       OUT_TERM = UNTUNED_50;
NET "DDR_ODT"       LOC = "L5";
NET "DDR_RESET_N"   IOSTANDARD = LVCMOS15;
NET "DDR_RESET_N"   LOC = "E4";
NET "DDR_CKE"       IOSTANDARD = SSTL15_II;
NET "DDR_CKE"       OUT_TERM = UNTUNED_50;
NET "DDR_CKE"       LOC = "F4";
NET "DDR_LDM"       IOSTANDARD = SSTL15_II;
NET "DDR_LDM"       OUT_TERM = UNTUNED_50;
NET "DDR_LDM"       LOC = "J4";
NET "DDR_UDM"       IOSTANDARD = SSTL15_II;
NET "DDR_UDM"       OUT_TERM = UNTUNED_50;
NET "DDR_UDM"       LOC = "K3";
NET "DDR_UDQS_P"    IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_UDQS_P"    IN_TERM = UNTUNED_SPLIT_50;
NET "DDR_UDQS_P"    OUT_TERM = UNTUNED_50;
NET "DDR_UDQS_P"    LOC = "N3";
NET "DDR_UDQS_N"    IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_UDQS_N"    IN_TERM = UNTUNED_SPLIT_50;
NET "DDR_UDQS_N"    OUT_TERM = UNTUNED_50;
NET "DDR_UDQS_N"    LOC = "N1";
NET "DDR_LDQS_P"    IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_LDQS_P"    IN_TERM = UNTUNED_SPLIT_50;
NET "DDR_LDQS_P"    OUT_TERM = UNTUNED_50;
NET "DDR_LDQS_P"    LOC = "H2";
NET "DDR_LDQS_N"    IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_LDQS_N"    IN_TERM = UNTUNED_SPLIT_50;
NET "DDR_LDQS_N"    OUT_TERM = UNTUNED_50;
NET "DDR_LDQS_N"    LOC = "H1";
NET "DDR_CK_P"      IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_CK_P"      OUT_TERM = UNTUNED_50;
NET "DDR_CK_P"      LOC = "E2";
NET "DDR_CK_N"      IOSTANDARD = DIFF_SSTL15_II;
NET "DDR_CK_N"      OUT_TERM = UNTUNED_50;
NET "DDR_CK_N"      LOC = "E1";
NET "DDR_RZQ"       IOSTANDARD = SSTL15_II;
NET "DDR_RZQ"       OUT_TERM = UNTUNED_50;
NET "DDR_RZQ"       LOC = "M4";
NET "DDR_ZIO"       IOSTANDARD = SSTL15_II;
NET "DDR_ZIO"       OUT_TERM = UNTUNED_50;
NET "DDR_ZIO"       LOC = "M5";

# EPD signals
NET "EPD_GDOE"      IOSTANDARD = LVCMOS33;
NET "EPD_GDOE"      LOC = "G16";
NET "EPD_GDCLK"     IOSTANDARD = LVCMOS33;
NET "EPD_GDCLK"     LOC = "H16";
NET "EPD_GDSP"      IOSTANDARD = LVCMOS33;
NET "EPD_GDSP"      LOC = "J16";
NET "EPD_SDCLK"     IOSTANDARD = LVCMOS33;
NET "EPD_SDCLK"     LOC = "N14";
NET "EPD_SDLE"      IOSTANDARD = LVCMOS33;
NET "EPD_SDLE"      LOC = "M14";
NET "EPD_SDOE"      IOSTANDARD = LVCMOS33;
NET "EPD_SDOE"      LOC = "R14";
NET "EPD_SD[*]"     IOSTANDARD = LVCMOS33;
NET "EPD_SD[0]"     LOC = "P16";
NET "EPD_SD[1]"     LOC = "P15";
NET "EPD_SD[2]"     LOC = "R16";
NET "EPD_SD[3]"     LOC = "R15";
NET "EPD_SD[4]"     LOC = "T15";
NET "EPD_SD[5]"     LOC = "T14";
NET "EPD_SD[6]"     LOC = "T13";
NET "EPD_SD[7]"     LOC = "R12";
NET "EPD_SD[8]"     LOC = "T12";
NET "EPD_SD[9]"     LOC = "K16";
NET "EPD_SD[10]"    LOC = "K14";
NET "EPD_SD[11]"    LOC = "K15";
NET "EPD_SD[12]"    LOC = "L16";
NET "EPD_SD[13]"    LOC = "M15";
NET "EPD_SD[14]"    LOC = "M16";
NET "EPD_SD[15]"    LOC = "N16";
NET "EPD_SDCE0"     IOSTANDARD = LVCMOS33;
NET "EPD_SDCE0"     LOC = "L14";

# SPI
NET "SPI_CS"        IOSTANDARD = LVCMOS33;
NET "SPI_CS"        LOC = "L10";
NET "SPI_SCK"       IOSTANDARD = LVCMOS33;
NET "SPI_SCK"       LOC = "R11";
NET "SPI_MOSI"      IOSTANDARD = LVCMOS33;
NET "SPI_MOSI"      LOC = "P10";
NET "SPI_MISO"      IOSTANDARD = LVCMOS33;
NET "SPI_MISO"      LOC = "T10";

# LVDS
NET "LVDS_ODD_CK_P"  IOSTANDARD = LVDS_33;
NET "LVDS_ODD_CK_P"  DIFF_TERM = "TRUE";
NET "LVDS_ODD_CK_N"  IOSTANDARD = LVDS_33;
NET "LVDS_ODD_CK_N"  DIFF_TERM = "TRUE";
# CK is inverted
NET "LVDS_ODD_CK_P"  LOC = "B10";
NET "LVDS_ODD_CK_N"  LOC = "A10";

NET "LVDS_ODD_P[*]"  IOSTANDARD = LVDS_33;
NET "LVDS_ODD_P[*]"  DIFF_TERM = "TRUE";
NET "LVDS_ODD_N[*]"  IOSTANDARD = LVDS_33;
NET "LVDS_ODD_N[*]"  DIFF_TERM = "TRUE";
# ODD A is inverted
NET "LVDS_ODD_P[0]"  LOC = "E7";
NET "LVDS_ODD_N[0]"  LOC = "E8";
# ODD B is inverted
NET "LVDS_ODD_P[1]"  LOC = "B8";
NET "LVDS_ODD_N[1]"  LOC = "A8";
# ODD C is not inverted
NET "LVDS_ODD_P[2]"  LOC = "F9";
NET "LVDS_ODD_N[2]"  LOC = "D9";

NET "LVDS_EVEN_P[*]" IOSTANDARD = LVDS_33;
NET "LVDS_EVEN_P[*]" DIFF_TERM = "TRUE";
NET "LVDS_EVEN_N[*]" IOSTANDARD = LVDS_33;
NET "LVDS_EVEN_N[*]" DIFF_TERM = "TRUE";

# EVEN A is inverted
NET "LVDS_EVEN_P[0]" LOC = "D11";
NET "LVDS_EVEN_N[0]" LOC = "D12";
# EVEN B is inverted
NET "LVDS_EVEN_P[1]" LOC = "C13";
NET "LVDS_EVEN_N[1]" LOC = "A13";
# EVEN C is not inverted
NET "LVDS_EVEN_P[2]" LOC = "B14";
NET "LVDS_EVEN_N[2]" LOC = "A14";

# DPI
NET "DPI_PCLK"      IOSTANDARD = LVCMOS33;
NET "DPI_PCLK"      LOC = "K11";
NET "DPI_DE"        IOSTANDARD = LVCMOS33;
NET "DPI_DE"        LOC = "J12";
NET "DPI_VSYNC"     IOSTANDARD = LVCMOS33;
NET "DPI_VSYNC"     LOC = "K12";
NET "DPI_HSYNC"     IOSTANDARD = LVCMOS33;
NET "DPI_HSYNC"     LOC = "J11";
NET "DPI_PIXEL[*]"  IOSTANDARD = LVCMOS33;
NET "DPI_PIXEL[0]"  LOC = "J13"; # B0
NET "DPI_PIXEL[1]"  LOC = "J14"; # B1
NET "DPI_PIXEL[2]"  LOC = "H11"; # B2
NET "DPI_PIXEL[3]"  LOC = "H13"; # B3
NET "DPI_PIXEL[4]"  LOC = "H15"; # B4
NET "DPI_PIXEL[5]"  LOC = "H14"; # B5
NET "DPI_PIXEL[6]"  LOC = "G11"; # B6
NET "DPI_PIXEL[7]"  LOC = "F16"; # B7
NET "DPI_PIXEL[8]"  LOC = "F15"; # G0
NET "DPI_PIXEL[9]"  LOC = "E16"; # G1
NET "DPI_PIXEL[10]" LOC = "E15"; # G2
NET "DPI_PIXEL[11]" LOC = "D16"; # G3
NET "DPI_PIXEL[12]" LOC = "G12"; # G4
NET "DPI_PIXEL[13]" LOC = "G14"; # G5
NET "DPI_PIXEL[14]" LOC = "F12"; # G6
NET "DPI_PIXEL[15]" LOC = "F14"; # G7
NET "DPI_PIXEL[16]" LOC = "F13"; # R0
NET "DPI_PIXEL[17]" LOC = "E13"; # R1
NET "DPI_PIXEL[18]" LOC = "C16"; # R2
NET "DPI_PIXEL[19]" LOC = "C15"; # R3
NET "DPI_PIXEL[20]" LOC = "B16"; # R4
NET "DPI_PIXEL[21]" LOC = "B15"; # R5
NET "DPI_PIXEL[22]" LOC = "D14"; # R6
NET "DPI_PIXEL[23]" LOC = "E12"; # R7
